extends layout

block content
  .row.list-group
    each User in users
      .col-xs-12.list-group-item
        p.username=User.username
        p.userpassword=User.password
        p.notetitle=User.notes.title
        p.notecontent=User.notes.contents




