extends layout

block content


      .row.list-group
          .col-xs-12.list-group-item
            each Note in notes
                p.notetitle="Note Title: " + Note.title
                p.notecontent="Note Contents: " + Note.contents





